.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $color-transparent;
  cursor: pointer;
  transition: opacity $trans-default;
  border: 1px solid $color-cerulean-blue;
  color: $color-cerulean-blue;

  &:focus {
    outline: none;
  }

  @include disabled {
    pointer-events: none;
    cursor: default;
  }
}


.btn__icon {
  color: $color-default-white;
  background-color: $color-cerulean-blue;
  border-radius: 50%;
  padding: 18px;

  @include hover-focus {
    color: $color-cerulean-blue;
    background-color: $color-default-white;
  }
}
