.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $color-transparent;
  cursor: pointer;
  transition: opacity $trans-default;
  border: 1px solid $color-cerulean-blue;
  color: $color-cerulean-blue;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &--burger {
    gap: 20px;
    padding: 4px 3px 4px 20px;
    border-radius: 30px;
    background-color: $color-default-white;
  }

  @include disabled {
    pointer-events: none;
    cursor: default;
  }
}

.btn__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: .28px;
  text-transform: uppercase;
}

.btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-default-white;
  background-color: $color-cerulean-blue;
  border-radius: 50%;
  padding: 13px;

  @include hover-focus {
    color: $color-cerulean-blue;
    background-color: $color-default-white;
  }
}
