@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/manrope-v15-cyrillic-ext_latin-300.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/manrope-v15-cyrillic-ext_latin-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/manrope-v15-cyrillic-ext_latin-regular.woff2") format("woff2");
}
