.header {
z-index: 3;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  position: fixed;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo-link {
  width: 52px;
  height: 52px;
  padding: 10px;
  background-color: $color-default-white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__list {
  @include list;
}


.header__sub-list {
  @include list;
  padding-left: 20px;
}

.header__nav {
  display: none;
}
