@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  @content;
}

@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin active {
  &:active,
  &.is-active {
    @content;
  }
}

@mixin disabled {
  &:disabled,
  &.is-disabled {
    @content;
  }
}
